@import './base.css';

:root {
  /* COLORS --------------------- */
  --color-light-primary: #e6fafa;
  --color-primary: #017580;
  --color-dark-primary: #00636c;
  --color-secondary: #e6f9fa;
  --color-danger: #d04555;
  --color-lightest: #f3f9f9;
  --color-light: #edf2f2;
  --color-light-gray: #b6bebf;
  --color-gray: #5a6566;
  --color-black: #15191a;

  /* DIMENSIONS ----------------- */
  --header-main-height: 52px;
  --header-nav-height: 44px;
  --header-nav-mobile-height: 88px;

  --header-height: calc(var(--header-main-height) + var(--header-nav-height));
  --header-mobile-height: calc(var(--header-main-height) + var(--header-nav-mobile-height));

  /* FONT ----------------------- */
  --font-main: 'Inter', 'Helvetica Neue', Arial, sans-serif;

  /* Sizes */
  --font-h1: 22px;
  --font-h2: 16px;
  --font-h3: 14px;
  --font-span-lg: 16px;
  --font-span-md: 14px;
  --font-p: 12px;

  /* Weight */
  --font-weight-bold: 580;
  --font-weight-medium: 500;
  --font-weight-light: 375;

  /* Line height */
  --line-height-heading: 28px;
  --line-height-mid: 22px;
  --line-height-body: 18px;
  --line-height-small: 16px;

  /* OTHER ---------------------- */
  --radius: 6px;

  /* BREAKPOINT */
  --breakpoint-sm: 720px;
  --breakpoint-md: 960px;
  --breakpoint-lg: 1200px;
}

/* FONT ---------------------------------- */

body {
  font-family: var(--font-main);
}

h1 {
  font-size: var(--font-h1);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-heading);
  color: var(--color-black);
}

h2 {
  font-size: var(--font-h2);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-mid);
  color: var(--color-black);
}

h3 {
  font-size: var(--font-h3);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-mid);
  color: var(--color-gray);
}

p {
  font-size: var(--font-p);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-small);
  /* color: var(--color-gray); */
}

button {
  font-family: var(--font-main);
}

.text-lg {
  font-size: var(--font-span-lg);
  line-height: var(--line-height-mid);
}

.text-md {
  font-size: var(--font-span-md);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-light);
}

.text-primary {
  color: var(--color-primary);
}

.text-gray {
  color: var(--color-gray);
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.container__catalog {
  max-width: 925px;
}

.rounded {
  border-radius: var(--radius);
}

/* BODY RESPONSIVE */
body {
  margin-top: calc(var(--header-height));
}

/* DESIGN STYLES ----------------*/
/* Filter buttons */
.ds-filter-btn {
  border: 1px solid var(--color-light-gray);
  border-radius: 50px;
  padding: 8px 12px 8px 12px;
  color: var(--color-gray);
  font-size: var(--font-span-md);
  background-color: white;
  cursor: pointer;
  width: fit-content;
}
.ds-filter-btn:hover {
  border: 1px solid var(--color-primary);
}
.activeBtn {
  background-color: var(--color-light-primary);
}

/* Buttons */
.ds-btn {
  width: 100%;
  height: 42px;
  border-radius: var(--radius);
  border: none;
  padding: 10px 16px 10px 16px;
  font-size: var(--font-span-lg);
  font-weight: var(--font-weight-medium);
}

.ds-btn--primary {
  background-color: var(--color-primary);
  color: white;
}

.ds-btn--primary > h2 {
  color: white;
}

.ds-btn--primary:hover {
  background-color: var(--color-dark-primary);
}

.ds-btn--secondary {
  background-color: var(--color-lightest);
}

.ds-btn--secondary > h2 {
  color: var(--color-primary);
}

.ds-btn--secondary:hover {
  background-color: var(--color-light);
}

/* Search Input */
.ds-search-input {
  width: 100%;
  height: 36px;
  border-radius: 0px var(--radius) var(--radius) 0px;
  background-color: var(--color-light);
  border: none;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0px 12px 0px 12px;
}

.ds-search-input > input {
  border: none;
  background: none;
  font: inherit;
  outline: none;
  color: var(--color-black);
  font-weight: 375;
  width: 100%;
}

.ds-search-input > svg {
  color: var(--color-gray);
}

/* RESPONSIVE ----------*/
.desktop-only,
.medium-only,
.small-only {
  display: none;
}

/* DESKTOP (>960px) */
@media (min-width: 961px) {
  .desktop-only {
    display: initial;
  }
}

/* MEDIUM (721px à 960px) */
@media (min-width: 721px) and (max-width: 960px) {
  .medium-only {
    display: initial;
  }

  body {
    margin-top: 115px;
  }
}

/* SMALL / MOBILE (≤ 720px) */
@media (max-width: 720px) {
  .small-only {
    display: initial;
  }

  body {
    margin-top: 115px;
  }
}

/* MEDIUM (721px à 960px) */
@media (min-width: 721px) and (max-width: 960px) {
}

/* DESKTOP (> 961px) */
@media (min-width: 961px) {
}

/* DESKTOP LARGE (> 1200px) */
@media (min-width: 1200px) {
}
