@import './base.css';

body {
  font-family: 'Inter', Arial, sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: 500;
}

h2 {
  font-size: 22px;
  font-weight: 580;
}

p {
  font-size: 12px;
  font-weight: 375;
}
