@import './base.css';

:root {
  /* dimensions */
  --header-height: 98px;
  --header-main-height: 52px;
  --header-nav-height: 44px;
}

body {
  font-family: 'Inter', Arial, sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: 500;
}

h2 {
  font-size: 22px;
  font-weight: 580;
}

p {
  font-size: 12px;
  font-weight: 375;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}
